# Introduction to Data Vizualization using Pandas in Python

In [1]:
dict = {"students": ['Alice','Anna','Arlean','Betty','Bertha','Beatrice','Candice','Carol','Christa','Duncan','Derry','Dealy','Edward','Earl','Edwin'], 
         "courses": ['Physics','Physics','Physics', 'Math','Math','Math','Chem', 'Chem','Chem','Bio','Bio','Bio','Stat','Stat','Stat'],
         "percent": [95,85,70,75,82,90,87,61,72,55,98,86, 56,78,86],
         "ID":  ['121', '122','123','124','125','126','127', '128','129','130','131','132','133', '134','135'],
         "phoneX": [842, 611, 624, 112, 383, 812, 842, 611, 624, 112, 383, 812,112, 383, 812]}
print(dict) # print out the dictionary

{'students': ['Alice', 'Anna', 'Arlean', 'Betty', 'Bertha', 'Beatrice', 'Candice', 'Carol', 'Christa', 'Duncan', 'Derry', 'Dealy', 'Edward', 'Earl', 'Edwin'], 'courses': ['Physics', 'Physics', 'Physics', 'Math', 'Math', 'Math', 'Chem', 'Chem', 'Chem', 'Bio', 'Bio', 'Bio', 'Stat', 'Stat', 'Stat'], 'percent': [95, 85, 70, 75, 82, 90, 87, 61, 72, 55, 98, 86, 56, 78, 86], 'ID': ['121', '122', '123', '124', '125', '126', '127', '128', '129', '130', '131', '132', '133', '134', '135'], 'phoneX': [842, 611, 624, 112, 383, 812, 842, 611, 624, 112, 383, 812, 112, 383, 812]}

In [3]:
import pandas as pd  # let pd be the alias for pandas
school = pd.DataFrame(dict) # create the dataframe and assign it to the label school
school                      # a simple way to print out the entire dataframe

    students  courses  percent   ID  phoneX
0      Alice  Physics       95  121     842
1       Anna  Physics       85  122     611
2     Arlean  Physics       70  123     624
3      Betty     Math       75  124     112
4     Bertha     Math       82  125     383
5   Beatrice     Math       90  126     812
6    Candice     Chem       87  127     842
7      Carol     Chem       61  128     611
8    Christa     Chem       72  129     624
9     Duncan      Bio       55  130     112
10     Derry      Bio       98  131     383
11     Dealy      Bio       86  132     812
12    Edward     Stat       56  133     112
13      Earl     Stat       78  134     383
14     Edwin     Stat       86  135     812

## Visualization of Athlete Data Set in Excel

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

# Jupter notebook specific
%matplotlib inline

In [ ]:
from pandas import ExcelWriter
from pandas import ExcelFile

df = pd.read_excel('Athletic.xls', sheetname='Sheet1')

print("Column headings:")
print(df.columns)

In [ ]:
df[['student']]

In [ ]:
df

In [ ]:
score_group = df.groupby('Score')
score_group.size().plot(kind='bar')

In [ ]:
sport_group = df.groupby('Sport')
sport_group.size().plot(kind='bar')

In [ ]:
athlete_group = df.groupby('Sport')['Fitness']
athlete_group.mean()

In [ ]:
athlete_group = df.groupby('Sport')['Fitness'].agg(['mean']).reset_index()
athlete_group

In [ ]:
athlete_group = df.groupby('Sport')['Weight'].agg(['sum','count','mean']).reset_index()
athlete_group

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Jupter notebook specific
%matplotlib inline

# Adjust plot size
plt.rcParams["figure.figsize"] = (10,5)

# Group Athlete data by sport and create bar graph of students per sport
df.groupby('Sport').count().reset_index().plot(x = 'Sport', 
                                               y = 'student',
                                               kind = 'bar',
                                               color = 'green',
                                               legend = False,
                                               title = 'Students per Sport');

## Subplots

### Often, you will want to present multiple plots next to each other in a grid. You can do this using the subplot function.

In [ ]:
#fig, axs = plt.subplots(1, 2, figsize=(12, 4), sharey=False)  1 = number of rows of plots, 2 = number of columns of plots
fig, axs = plt.subplots(1, 2, figsize=(12, 4), sharey=False) # sharey = false means do not share y-axis 

axs[0].bar(athlete_group['Sport'], athlete_group['count'])
axs[1].bar(athlete_group['Sport'], athlete_group['mean'])

fig.suptitle('Number of Students and Student Weight by Sport');
axs[0].set_ylabel('Number Count')
axs[1].set_ylabel('Mean Weight')
axs[0].set_xlabel('Sports')
axs[1].set_xlabel('Sports')

In [ ]:
fig, axs = plt.subplots(2, 1, figsize=(6, 8), sharey=False) # sharey means do not share y-axis 

axs[0].bar(athlete_group['Sport'], athlete_group['count'])
axs[1].bar(athlete_group['Sport'], athlete_group['mean'])

fig.suptitle('Number of Students and Student Weight by Sport');
axs[0].set_ylabel('Number Count')
axs[1].set_ylabel('Mean Weight')
axs[0].set_xlabel('Sports')
axs[1].set_xlabel('Sports')

In [ ]:
plt.hist(df['Height'], bins = 10);

In your subplots, you can specify the following parameters:

Number of plots per row/column
The total width/height of the combined plots
Whether or not you want to share the x-axis or y-axis between each plot

In [ ]:
fig, axs = plt.subplots(1, 3, figsize=(15, 4), sharey=False, sharex = False)
axs[0].hist(df['Fitness'], bins = 10, color = 'darkblue')
axs[1].hist(df['Height'], bins = 10, color = 'darkred')
axs[2].hist(df['Weight'], bins = 15, color = 'darkgreen');

axs[0].set_ylabel('Number Count')
axs[1].set_ylabel('Number Count')
axs[2].set_ylabel('Number Count')
axs[0].set_xlabel('Fitness')
axs[1].set_xlabel('Height')
axs[2].set_xlabel('Weight')

## A Real-Life Example from the City of New  York

In [ ]:
trees = pd.read_json("http://data.cityofnewyork.us/resource/5rq2-4hqu.json")
trees = trees.drop(['zip_city', 'x_sp', 'y_sp', 'brnch_ligh', 'brnch_othe', 'brnch_shoe',
                    'the_geom', 'trnk_light', 'trnk_other', 'trnk_wire', 'boro_ct', 'borocode',
                    'cb_num', 'spc_latin', 'st_assem', 'st_senate', 'steward', 'state', 'sidewalk', 
                    'block_id', 'nta', 'nta_name', 'problems'], 
                    axis = 'columns')

trees.head()

In [ ]:
# Adjust plot size
plt.rcParams["figure.figsize"] = (10,5)

# Group trees data and create bar graph of trees per borough
trees.groupby('boroname').count().reset_index().plot(x = 'boroname', 
                                                     y = 'tree_id', 
                                                     kind = 'bar',
                                                     color = 'purple',
                                                     legend = False,
                                                     title = 'Trees per Borough');

## Data Vizualization using Seaborn

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
# Retrieve the CSV file from a website containing the Iris dataset
# Use the pandas read_csv method to create a pandas dataframe called iris
iris = pd.read_csv('http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv')
iris.head() # display the top five rows of the dataframe

In [ ]:
# Display petal length v petal width
sns.scatterplot(iris['petal_len'], iris['petal_wid']);

In [ ]:
# Plot side by side graphs of petal length v petal width and sepal length v sepal width showing the iris classes
fig, axs = plt.subplots(1, 2, figsize=(15, 4))

sns.scatterplot(x = iris['petal_len'], y = iris['petal_wid'], hue = iris['class'], ax=axs[0])
sns.scatterplot(x = iris['sepal_len'], y = iris['sepal_wid'], hue = iris['class'], ax=axs[1]);

In [ ]:
# Plot the distribution of petal length
sns.distplot(iris['sepal_len'])

In [ ]:
# Plot again using more of the display variables
sns.distplot(iris['sepal_len'], kde=False, color='blue', bins=14)
plt.title('Sepal Length in Cms', fontsize=18)
plt.xlabel('Sepal Length', fontsize=16)
plt.ylabel('Frequency', fontsize=16)

In [ ]:
# create a new dataframe called 
iris_class = iris[iris['class'] =='Iris-setosa']
sns.distplot(iris_class['sepal_len'],  kde=False, color='green', label='Iris-setosa')
plt.title('Iris-senosa', fontsize=18)

In [ ]:
iris_class = iris[iris['class'] =='Iris-setosa']
sns.distplot(iris_class['sepal_len'],  kde=False, label='Iris-setosa')
iris_class = iris[iris['class'] =='Iris-versicolor']
sns.distplot(iris_class['sepal_len'],  kde=False, label='Iris-versicolor')
iris_class = iris[iris['class'] =='Iris-virginica']
sns.distplot(iris_class['sepal_len'],  kde=False, label='Iris-virginica')
plt.legend(prop={'size': 12})
plt.title('Sepal Length  of three classes of Iris')
plt.xlabel('Sepal Length in Cms')
plt.ylabel('Frequency')